/* This file is for your main application css. */
@import "~nprogress/nprogress.css";
@import "./phoenix.css";
@import "./liveview.scss";

.deleted,
.hidden {
  display: none;
}

.card {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 3em 3em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}

footer {
  margin-top: 1em;
  border-top: 2px solid #e3e3e3;
  padding-top: 0.4em;
}

/* Logo */
.warehouse-logo {
  min-width: 300px;
  margin: 1rem;
  display: block;
}
.warehouse-logo img {
  width: auto;
  display: block;
}

/* nav links */
nav.nav-categories {
  a {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #0069d9;
    margin: 0.1em;

    &:link {
      padding: 0.2em 0.4em;
    }

    &.active, &:hover {
      border-color: #606c76;
      color: #606c76;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/* TableSortFilter */
table[phx-hook='TableSortFilter'] th,
table#products-table th {
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #e4f4ff;
  }
}

th.sorted-asc::after {
  padding-left: 0.4em;
  content: '▲';
}
th.sorted-desc::after {
  padding-left: 0.4em;
  content: '▼';
}
